<!DOCTYPE html>
<html lang="en">
<head>
  <title>Lemony Light Label</title>
  <style>
  body {
  background-color:lavender;
  }

  .MenuButtLink {
  background-color:lightyellow;
  list-style-type:none;

  padding: 20px;
  }

  li {
    float: left;
    }

    nav {
      background-color:lightyellow;
      margin:20px;
      padding:20px;
    }


</style>
</head>

<body>
<img src="/static/images/LemonyLightLabelLogo.jpg" style="width:400px;" alt="Lemony Light Label Logo">
<div>
  <ul>
    <li class="MenuButtLink"><a href="/app/">Home</a></li>
    <li class="MenuButtLink"><a href="/app/store/">Store</a></li>
    <li class="MenuButtLink"><a href="/app/contacts/">Contacts</a></li>
    <li class="MenuButtLink"><a href="/app/about/">About</a></li>
  </ul>
</div>
<!--
<nav>
    <a href="/app/">Home</a>
    <a href="/app/store/">Store</a>
    <a href="/app/contacts/">Contacts</a>
    <a href="/app/about/">About</a>
</nav>
-->
</body>
</html>